<h1>This is the {{title}} page</h1>

<p>
	Special orders welcomed. If we currently do not have the parrot you are looking for we can order.
</p>  
<p>
	Exotic Birds of Denver carries the largest selection of baby parrots in the state of Colorado. We hand feed all our babies. Because of this, they are more socialized and able to easily adapt into your home environment.
</p>
<p>
	We do not force wean our babies; they are weaned as determined by individual needs. All parrots are fully fledged before wing trims occur. Taking these extra steps, ensures a socially adjusted parrot and decreases future behavioral problems.
</p>