
{{!-- Hero section start --}}
<section class="hero is-primary">
	<div class="hero-body is-bold">
		<div class="container">
			<h1 class="title">
				Meet our flock
			</h1>
			<h2 class="subtitle">
				We offer a large range of parrots from parrotlets to hyacinth macaws!
			</h2>
		</div>
	</div>
</section>
{{!-- Hero Section End --}}
{{!-- test start --}}



{{!-- test end --}}

{{!-- Bird section start--}}

{{!-- bird secton general --}}
<div class="section">
	<div class="container notification is-warning">
		
		<h2 class="title">The Exotic Birds of Denver Difference</h2>
		<p class="content">Exotic Birds of Denver carries the largest selection of baby parrots in the state of Colorado. We hand feed all our babies. Because of this, they are more socialized and able to easily adapt into your home environment.</p>
		<p class="content">We do not force wean our babies; they are weaned as determined by individual needs. All parrots are fully fledged before wing trims occur. Taking these extra steps, ensures a socially adjusted parrot and decreases future behavioral problems.</p>
		<p class="content">Special orders welcomed. If we currently do not have the parrot you are looking for we can order.</p>  
	</div>
</div>


{{!-- bird table --}}

<section class="section">
	<div class="hero is-primary">
		<div class="hero-body is-bold">
			<div class="container">
				<h1 class="title">
					Learn more
				</h1>
			</div>
		</div>
	</div>
<div>
	<table class="table is-fullwidth">
		<thead>
			<th>Name</th>
			<th>Size</th>
			<th>Lifespan</th>
			<th>More Info</th>
		</thead>
		<tbody>
			{{#each birdData.birds}}
			<tr>
				<td>{{name}}</td>
				<td>{{size}}</td>
				<td>{{lifespan}}</td>
				<td>{{link}}</td>
			</tr>
			{{/each}}
		</tbody>
		<tfoot>

		</tfoot>
	</table>
</div>
</section>

</div>




{{!-- Bird section end --}}
