{{!-- Hero section start --}}
<section class="hero is-primary home-header is-fullheight-with-navbar">
	<div class="hero-head is-bold">
		<div class="container" id="welcome_to_EBOD">
			<h1 class="title is-4">
				Welcome to Exotic Birds of Denver!
			</h1>
			<h2 class="subtitle is-6">
				Exotic Birds of Denver is your one-stop shop for all your parrot needs!
			</h2>
		</div>
	</div>
	<div class="hero-body is-bold">
		<div class="container has-text-centered">
			<h1 class="title is-2">
				We've moved!
			</h1>
			<h2 class="subtitle is-4">
				Come see us at our new, bigger location just 1 mile south on Broadway.
			</h2>
		</div>
	</div>
	<div class="hero-footer is-bold">
		<div class="container has-text-right">
			<h1 class="title has-text-black is-4">
				Hours: M-F 10-6, Sat 11-5, Sun 12-4
			</h1>
		</div>
	</div>
</section>
{{!-- Hero Section End --}}

{{!-- info section start --}}

<section class="section">
	<div class="container">
		<div class="notification is-success has-box-shadow">
			<p class="title">Why buy from us?</p>
			<p class="">We specialize in hand-fed and hand-raised parrots. Our birds are socialized with humans and birds alike toguarantee that you have a happy pet that intigrates into your family quickly and easily!</p>
			<p class="">Walk through our large display room to choose from a wide selection of cages, play-gyms, stands, toys,foodandsupplements. We are happy to recommend the appropriate products for your specific bird needs.</p>
		</div>
	</div>
	<div class="container">
		<div class="notification is-warning">
			<p class="title">We support you even after you buy</p>
			<p>We provide quality worry free boarding whenever needed along with professional grooming by Bird-man Dave.</p>
		</div>
	</div>
</section>

{{!--
Exotic Birds of Denver is more than ashop, it’s an Exotic paradise!

Experience our large flight room where our parrots are un-caged and are allowed to freely interact and socializewith
each other and you!

We specialize in hand-fed and hand-raised parrots.

Walk through our large display room to choose from a wide selection of cages, play-gyms, stands, toys, food
andsupplements. We are happy to recommend the appropriate products for your specific bird needs.

We provide quality worry free boarding whenever needed along with professional grooming by Dave. (aka“Birdman!”)
--}}