{{!-- Hero section start --}}
<section class="hero is-primary home-header is-fullheight-with-navbar">
	<div class="hero-body is-bold">
		<div class="container">
			<h1 class="title">
				Welcome to Exotic Birds of Denver!
			</h1>
			<h2 class="subtitle">
				Exotic Birds of Denver is your one-stop shop for all your parrot needs!
			</h2>
		</div>
	</div>
</section>
{{!-- Hero Section End --}}

{{!-- photo header --}}
{{!-- <div class="home-header"></div> --}}

{{!-- info section start --}}

<section class="section">
	<div class="container">
		<div class="notification is-primary">
			<p class="title">We've Moved!</p>
			<p>Come visit us at our brand new location just 1 mile south on Broadway.</p>
		</div>
	</div>
	<div class="container">
		<div class="notification is-success">
			<p class="title">Why buy from us?</p>
			<p class="">We specialize in hand-fed and hand-raised parrots. Our birds are socialized with humans and birds alike toguarantee that you have a happy pet that intigrates into your family quickly and easily!</p>
			<p class="">Walk through our large display room to choose from a wide selection of cages, play-gyms, stands, toys,foodandsupplements. We are happy to recommend the appropriate products for your specific bird needs.</p>
		</div>
	</div>
	<div class="container">
		<div class="notification is-warning">
			<p class="title">We support you even after you buy</p>
			<p>We provide quality worry free boarding whenever needed along with professional grooming by Bird-man Dave.</p>
		</div>
	</div>
</section>

{{!--
Exotic Birds of Denver is more than ashop, it’s an Exotic paradise!

Experience our large flight room where our parrots are un-caged and are allowed to freely interact and socializewith
each other and you!

We specialize in hand-fed and hand-raised parrots.

Walk through our large display room to choose from a wide selection of cages, play-gyms, stands, toys, food
andsupplements. We are happy to recommend the appropriate products for your specific bird needs.

We provide quality worry free boarding whenever needed along with professional grooming by Dave. (aka“Birdman!”)
--}}