<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul id="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="/birds">Birds</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact-us">Contact</a></li>
      </ul>
    </nav>
    {{{body}}}

    <footer>
      <p>Come visit us!</p>
      <p>
        {{address}}
        {{phone-number}}
      </p>
    </footer>
  </body>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
</html>
