<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
	<title>Exotic Birds | {{title}}</title>
	<link rel='stylesheet' href='/stylesheets/mystyles.css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"></head>

<body>
	<!-- Navbar start -->
	<nav class="navbar is-primary is-fixed-top has-box-shadow" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<h1>Exotic Birds of Denver</h1>
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<!-- Navbar-start: appears on the left -->
			<div class="navbar-start">
				<!-- each item here should be in an anchor tag and have the class "navbar-item" -->
				<a class="navbar-item" href="/birds">Birds</a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" href="/products">Products</a>
					<div class="navbar-dropdown">
						<a href="/products#cages" class="navbar-item">Cages</a>
						<a href="/products#stands" class="navbar-item">Stands</a>
						<a href="/products#food" class="navbar-item">Food</a>
						<a href="/products#toys" class="navbar-item">Toys</a>
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link" href="/services">Services</a>
					<div class="navbar-dropdown">
						<a href="/services#grooming" class="navbar-item">Grooming</a>
						<a href="/services#boarding" class="navbar-item">Boarding</a>
					</div>
				</div>

			</div>

			<!-- Navbar-end: appears on the right -->
			<div class="navbar-end">
				<a class="navbar-item" href="tel:+13039315554">303-931-5554</a>
				<a class="navbar-item" href="/contact-us">Contact Us</a>

			</div>
		</div>
	</nav>
	<!-- Navbar end -->
	{{{body}}}

	<footer class="footer notification is-primary">
		<div class="level">
			<div class="level-item">
				<div class="has-text-centered">
					<p>Our Address:</p>
					<a href="https://goo.gl/maps/XYDRVevCtK42" target="_blank">
						<p>4796 S Broadway</p>
						<p>Englewood, CO 80113</p>
					</a>
				</div>
			</div>
			<div class="level-item">
				<div class="has-text-centered">
					<p class="title">Come visit us!</p>
					<a class="is-primary" href="tel:+13039315554">303-931-5554</a>


				</div>
			</div>
			<div class="level-item">
				<div class="has-text-centered">
					<p>Hours:</p>
					<p>Mon - Fri 10-6</p>
					<p>Sat 10-5</p>
					<p>Sun 12-4</p>
				</div>
			</div>
		</div>
	</footer>
</body>
<script type="text/javascript" src="/javascripts/scripts.js"></script>
<script type="text/javascript" src="/javascripts/bulma-carousel.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var carousels = bulmaCarousel.attach();
		console.log(carousels);
	});

</script>

</html>