.has-image-centered {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: $background;
}

//global custom styles
.has-box-shadow {
	box-shadow: 1px 1px 2px rgba(black, .5);
}
footer {
	padding: 1rem;
}

//home page
#welcome_to_EBOD {
	margin-top: 10px;
}


// Photo headers
.home-header {
	@include photoHeader("/public/images/open-source/ben-kolde-635327-unsplash.jpg",$primary, 1, black, .3, bottom);
}

.birds-header {
	@include photoHeader("/public/images/open-source/alan-godfrey-509414-unsplash.jpg", $primary, 1, $primary, 0, center);
}

.services-header {
	@include photoHeader("/public/images/open-source/bogdan-pasca-1102840-unsplash.jpg", $primary, 1, $primary, 0, bottom);
}

.products-header {
	@include photoHeader("/public/images/open-source/jonatan-lewczuk-1124453-unsplash.jpg", $primary, 1, $primary, 0, top center);
}