@mixin photoHeader($image, $color1: $primary, $grad1: 0, $color2: $primary, $grad2: .5, $bp: center) {
	background-image:
		linear-gradient(rgba($color1, $grad1), rgba($color2, $grad2)),
		url($image);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	// width: 100vw;
	// height: 50vh;
	background-position: $bp;
}