// site colors

// Greens  #5BA900  #A7C1A2  #92C156
//gcc #016D74  #89827A  #DFDADB  #F1C94C  #91B32C

$primary: #016D74;
$success: #91B32C;
$danger: #B52D53;
$warning: #F1C94C;
$background: #DFDADB;

